p
  {
      color:rgb(207, 204, 0);
      font-size:medium;   
      font-weight: 400;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
      text-align: left;
   }

body{background-color:rgb(146, 95, 0);}

p{color: rgb(248, 232, 5);}

#head

{

   color:rgb(224, 103, 16);
   font-family:cursive;

}

div
{

   max-width: 900px;
   margin:auto;
}